body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-section {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 60%;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #45a049;
}

.result-section {
  display: none;
}

#resultContainer {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}
